<!DOCTYPE html>
<html>
<head>
    <title></title>
    

    
      <link rel="stylesheet" href="release.css?20140810">
    
</head>
<body>
<div>测试测试</div>



  <link rel="stylesheet" href="release.css?20140810">



  <script src="release.js?20140810"></script>

</body>
</html>